

body {
    /* The image used */
    background-image: url("./img/Carrero-imgOnline.jpeg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
  }

  nav {
    display: flex;
    justify-content: right;
   
  }

  h1 {
    color: rgb(60, 128, 168);
    font-family: 'Fugaz One', cursive;
    font-size: 90px;  text-align: left;
    line-height: 2.0;
  }

  h2 {
    color:  rgb(60, 128, 168);
    font-size: 30px;
    text-align: left;
    line-height: 2.0;
  }
    
  /* header button */
  button {
    font-family: 'Fugaz One', cursive;
    width: 150px;
    margin: 0 .5%;
    font-size: 95%;
    color:red;
    background-color:#4ab7e2;
    border-radius: 15px;
    box-shadow: 0 0 10px #0a549e;
    
  }
  
  
 button:hover {
    background-color:#ebeff1;
    color: rgb(185, 136, 136);
  }
  
  
  button:active {
    font-size: 60%;
    box-shadow: 0 0 10px #000 inset;
  }
  
 
  button:focus  {
    outline: none;
    border-color: #8ac4ff;
  }

  /* .movie:hover {
    font-size: 60%;
  } */

  
