

body {
    /* The image used */
    background-image: url("./img/Carrero-imgOnline.jpeg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
  }

  h1 {
    color: rgb(60, 128, 168);
    font-family: "Fugaz One", cursive;
    font-size: 90px;
    text-align: left;
    text-shadow: 2px 4px 4px rgba(46,91,173,0.6);
   
  }

  h2 {
    color: rgb(60, 128, 168);
    font-family: "Fugaz One", cursive;
   }

   h3 {
    color: rgb(60, 128, 168);
    font-family: "Fugaz One", cursive;
    font-size: 20px
   }

   .social {
    position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;

   }

  
/* part of button */
   nav {
    display: flex;
    justify-content: right;
   }
 
    
  /* header button */
  button {
    font-family: "Fugaz One", cursive;
    width: 150px;
    margin: 0 .5%;
    font-size: 89%;
    color:black;
    background-color:#636cbdec ;
    border-radius: 15px;
    box-shadow: 0 0 10px #0a549e;
  }
  
  
 button:hover {
    background-color:#a5b7f3  ;
    color: rgb(185, 136, 136);
  }
  
  
  button:active {
    font-size: 60%;
    box-shadow: 0 0 10px #000 inset;
  }
  
 
  button:focus  {
    outline: none;
    border-color: #8ac4ff;
  }

 .img1 {
  /* border: 6px solid #b15c5c;
  border-radius: 2px;
  padding: 2px;
  width: 300px;
  text-align: center; */
 
    width: 275px;
    background-color:#2c36c2 ;
    border-radius: 25px;
    box-shadow: 0 0 20px #b7b8c5;
 }

 .img1:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
 }

